.todo-list {
    .list-controls {
        display: flex;
        justify-content: space-between;
    }
    .todo {
        margin-top: 50px;
    }
}
.todo-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    .field {
        margin-top: 10px;
    }
    .footer {
        display: flex;
        justify-content: space-between;
    }
}